<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <link rel="stylesheet" href="../css/game.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/icon/chips.png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="bg">
        <div class="table">
            <div class="dealer">
                <div class="count"><p>Dealer: </p><input type="text" readonly></div>
                <div class="cards">                   
                </div>
                
            </div>
            <div class="bettedchips">
                <p>Your Bet:</p> <input type="text" value="0" id="bet-table" readonly>
            </div>
            <div class="player">
                <div class="count"><p>Player: </p><input type="text" readonly></div>
                <div class="cards">
                    <div id="card"></div>
                </div>
            </div>
        </div>

        <div class="betarea"  id="betarea">
            <div class="select-chip">
                <button><img src="../images/1.png" alt="1"></button>
                <button><img src="../images/5.png" alt="5"></button>
                <button><img src="../images/25.png" alt="25"></button>
                <button> <img src="../images/100.png" alt="100"></button>
                <button> <img src="../images/500.png" alt="500"></button>
                <button><img src="../images/1000.png" alt="1000"></button>   
            </div>
            <div class="player-chip">
                <div class="totalvalue">
                    <p>Your Chips:</p>
                    <input type="text" value="0" id="chips" readonly>
                </div>
                <div class="betvalue" >
                    <p>Your Bet:</p>
                    <input type="text" value="0" id="bet" readonly>
                </div>
            </div>
            <div class="hide"><button id="bank">Bank</button></div>
        </div>

        <div class="menu" id="menu">
            <div class="opt">
                <div class="resume"><button id="resume">Resume Game</button></div>
                <div class="reset"><button id="reset">Reset Chips</button></div>
                <div class="return"><button id="return">Return to Main Menu</button></div>
            </div>
        </div>
    </div>
    <script type="module" src="../linkers/main.js"></script>
</body>
</html>