<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <link rel="stylesheet" href="../css/users.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/icon/chips.png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="pagecontent">
        <div class="bg">
            <div class="usersboard">
                <div class="outer">
                    <div class="allusers">
                        <div class="user"><input type="text" value="Pedro Henrique Romano Zafalonaaaaaaaaaaaaaaaaaaaa" readonly></div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="new"><button id="new">Create</button></div>
                    <div class="delete"><button id="del">Delete</button></div>
                    <div class="load"><button id="load">Load</button></div>
                </div>
            </div>


            <div class="return-menu">
                <button id="return"><< Return to Main Menu</button>
            </div>

        </div>
    </div>
    <script type="module" src="../linkers/userspage.js"></script>
</body>
</html>